* {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
}

:root {
  font-family: 'Inter', sans-serif;

  --aem-color-1: #f1f1f1;
  --aem-color-2: #2c2c2c;
  --aem-color-3: #fff852;

  --aem-shadow-1: #00000040;

  --aem-padding-s: 5px;
  --aem-padding-m: 10px;
  --aem-padding-l: 15px;
  --aem-padding-xl: 30px;

  --aem-margin-s: 5px;
  --aem-margin-m: 10px;
  --aem-margin-l: 15px;
  --aem-margin-xl: 30px;

  --aem-gap-s: 5px;
  --aem-gap-m: 10px;
  --aem-gap-l: 20px;
  --aem-gap-xl: 30px;
  --aem-gap-xxl: 50px;
}

/* NAV BAR */
.nav-bar {
  display: flex;
  flex-wrap: wrap;
  height: 73px;
  background-color: var(--aem-color-2);
  justify-content: space-between;
  color: var(--aem-color-1);
  font-size: larger;
}

.nav-bar > a > img {
  width: 73px;
  padding-left: var(--aem-padding-l);
  object-fit: contain;
}
.nav-bar > ul {
  display: flex;
  align-items: center;
  gap: var(--aem-gap-xxl);
}
.nav-bar > ul > li:hover {
  cursor: pointer;
  color: var(--aem-color-3);
  text-decoration: underline;
}

div.icon {
  display: flex;
}
.icon > ul {
  display: flex;
  align-items: center;
}

.icon-img {
  width: 70px;
}
.icon-img:hover {
  filter: invert(0.4) sepia(1) hue-rotate(20deg) saturate(1000%);
}

.hero > img {
  width: 100%;
  display: flex;
  object-fit: cover;
}

/* FILTER */

#filter {
  display: flex;
  justify-content: center;
  align-items: center;
  /*   width: 100svi; */
  background-color: var(--aem-color-1);
  margin-bottom: var(--aem-margin-xl);
  gap: var(--aem-gap-xl);
}

select {
  height: 30px;
  width: 220px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px var(--aem-shadow-1);
  text-align: center;
}

.closed_filter {
  height: 60px;
  transition-property: height;
  transition-duration: 1s;
}

.closed_filter > select,
.closed_filter > button {
  display: none;
  transition-property: all;
  transition-duration: 2s;
}

.opened_filter {
  height: 100px;
  transition-property: height;
  transition-duration: 1s;
}
.open_filter_button {
  position: absolute;
  margin-top: 10px;
  border-radius: 100%;
  background-color: var(--aem-color-1);
  margin-top: var(--aem-margin-s);
  cursor: pointer;
  transition-property: all;
  transition-duration: 1s;
}

.opened_filter {
  display: flex;
  justify-content: center;
  /*  width: 100svi; */
  height: 200px;
  background-color: var(--aem-color-1);
  margin-bottom: var(--aem-margin-xl);
  transition-property: all;
  transition-duration: 1s;
}

.close_filter_button {
  position: absolute;
  transform: rotate(180deg);
  border-radius: 100%;
  background-color: var(--aem-color-1);
  margin-top: 160px;
  cursor: pointer;
  border-color: var(--aem-color-2);
  transition-property: all;
  transition-duration: 1s;
}

.button_filter {
  height: 30px;
  width: 100px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px var(--aem-shadow-1);
  background-color: white;
  text-align: center;
  transition-property: all;
  transition-duration: 1s;
}
#filter .closed_filter {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: var(--aem-gap-m);
}

#filter .opened_filter {
  display: flex;
}

/* PRODUCTOS */
body > .mainContainer {
  align-items: center;
}
.mainContainer {
  display: flex;
  margin: 2% 5%;
  gap: var(--aem-gap-xl);
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.zapatilla {
  display: inline-block;
  width: 320px;
  height: 487px;
  box-shadow: 0px 0px 10px 0px var(--aem-shadow-1);
  cursor: pointer;
  justify-content: center;
}

.product_img {
  background-color: var(--aem-color-1);
  width: 320px;
  height: 350px;
  object-fit: contain;
}

h3 {
  padding-left: var(--aem-padding-l);
  padding-top: var(--aem-padding-m);
}

.zapatilla > p {
  display: inline-flex;
  padding: var(--aem-padding-m);
}

/* .divp {
  display: flex;
  width: 100%;
  padding: var(--aem-padding-m);
  gap: var(--aem-gap-xl);
  font-size: large;
} */

.divp {
  display: grid;
  padding-left: var(--aem-padding-l);
  padding-top: var(--aem-padding-s);
  grid-template-columns: 1fr 70px;
  font-size: larger;
}

.divbutton {
  display: flex;
  justify-content: center;
}
.button {
  justify-content: center;
  width: 290px;
  height: 46px;
  box-shadow: 0px 0px 10px 0px var(--aem-shadow-1);
  margin-top: var(--aem-padding-l);
  border-radius: 3px;
  background-color: var(--aem-color-1);
  font-size: larger;
}

.button:hover {
  transform: scale(1.03);
  background-color: var(--aem-color-3);
  cursor: pointer;
}

footer {
  margin-top: var(--aem-margin-xl);
  background-color: var(--aem-color-2);
  height: 200px;
}

footer > ul {
  display: flex;
  height: 100%;
  align-items: center;
  background-color: var(--aem-color-2);
  justify-content: center;
  gap: var(--aem-gap-xxl);
  color: var(--aem-color-1);
  font-size: larger;
  color: var(--aem-color-1);
}

footer > ul > li:hover {
  color: var(--aem-color-3);
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .nav-bar > ul {
    display: none;
  }

  .hero > img {
    height: 40svi;
  }

  #filter {
    display: flex;
    flex-direction: column;
  }
  #btn_filter {
    width: 50px;
  }
  .close_filter_button {
    margin-top: 210px;
  }

  footer {
    height: auto;
  }
  footer > ul {
    padding: var(--aem-padding-xl);
    display: flex;
    gap: var(--aem-gap-l);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
}
